
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: blueviolet;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    background: lavender;
    min-width: 600px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    color: black;
    padding: 20px 40px;
    border-radius: 20px;
}

.container h1{
    font-size: 35px;
}

.timeTitle h1{
    font-size: 35px;
}

.remainingDiv{
    width: 500px;
    text-align: center;
}

.remainingForm{
    text-align: left;
}

.remainingForm label{
    font-weight: bold;
    margin-left: 10px;
    
}

.remainingForm button{
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background: green;
    color: white;
    text-transform: uppercase;
}

.resetButton{
    margin-top: 15px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    background: green;
    color: white;
    text-transform: uppercase;
}

.remainingForm input{
    width: 100%;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid gray;
    outline: none;
}

.timeDiv{
    text-align: center;
}

.timeDiv ul{
    display: flex;
}

.timeDiv li{
    list-style-type: none;
    font-size: 20px;
    padding: 10px;
}

.timeDiv li span{
    font-size: 35px;
    color: red;
}

.timeNow{
    text-align: center;
}