
*{
    box-sizing: border-box;
}

body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 500px;
    background: palevioletred;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.title{
    font-size: 25px;
    color: purple;
}

.jokeText{
    margin: 50px;
}

.jokeButton{
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    background: gainsboro;
    cursor: pointer;
    text-transform: uppercase;
    color: chocolate;
}

.jokeButton:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}