@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root{
    --primary-color: #1b1c1d;
}

*{
    box-sizing: border-box;
}

body{
    background-color: bisque;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.user-form{
    width: 100%;
    max-width: 700px;

}

.user-form input{
    width: 100%;
    display: block;
    background-color: aliceblue;
    border: none;
    border-radius: 10px;
    color: #000;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.user-form input::placeholder{
    color: deeppink;
}

.user-form input:focus{
    outline: none;
}

.card{
    max-width: 800px;
    background-color: seashell;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    padding: 3rem;
    margin: 0 1.5rem;
}

.avatar{
    border-radius: 50px;
    border: 10px solid #2a2a72;
    height: 150px;
    width: 150px;

}

.user-info{
    color: #000;
    margin-left: 2rem;

}

.user-info h2{
    margin-top: 0;
}

.user-info ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}

.user-info ul li{
    display: flex;
    align-items: center;
}

.user-info ul li strong{
    font-size: .9rem;
    margin-left: .5rem;
}

.repo{
    text-decoration: none;
    color: #fff;
    background-color: #2a2a72;
    font-size: .7rem;
    padding: .25rem .5rem;
    margin-right: .5rem;
    margin-bottom: .5rem;
    display: inline-block;
}

@media screen and (max-width: 1000px){
    .card{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .user-form{
        max-width: 400px;
    }

    .user-info ul li{
        padding: 20px;
    }
}